{% extends 'base.html' %}
{% load staticfiles %}


<head>

    <style>
    </style>

</head>

{% block content %}

    <h1>Hello {{ user.profile.name }}</h1>
        {{ user.profile.current_school }}<br/>
        {{ user.profile.school_program }}<br/>
        {{ user.profile.school_of_interest }}<br/>
        {{ user.profile.industry_of_interest  }}<br/>

    <li>
        <a href="{% url 'logout' %}">Logout</a>
    </li>

    <br/>

    {% for i in intersection %}

        <li>
            {{ i.profile_info }}

            <a class="button" href="{% url 'edu_misclassify' id=i.profile_info.0 %}">Education</a>
            <a class="button" href="{% url 'job_misclassify' id=i.profile_info.0 %}">Job</a>

{#            <form method='GET' action='{% url 'edu_misclassify' id=i.profile_info.0 %}' > {% csrf_token %}#}
{#                {{ form.as_p }} <span><input type='submit' value='Submit' /></span>#}
{#            </form>#}
{##}
{#            <form method='GET' action='{% url 'job_misclassify' id=i.profile_info.0 %}' > {% csrf_token %}#}
{#                {{ form.as_p }} <span><input type='submit' value='Submit' /></span>#}
{#            </form>#}

        </li>

    {% endfor %}



{##}
{#        <div class="wrapper">#}
{#            <div class="icon">#}
{#                <img src="{% static 'img/icon.jpg' %}" style="width: 4em;">#}
{#            </div>#}
{#            </div>#}
{#            <div class="content">#}
{#                <h4>Application #1</h4>#}
{#                <p>This is an example application's description text.</p>#}
{#            </div>#}
{#        </div>#}
{#    <div>#}
{#        <img src="{% static 'img/icon.jpg' %}" style="width: 4em; margin: 0px;">#}
{#        <span style="">Works.</span>#}
{#    </div>#}
{##}
{#    <div class="card" style="width: 35em; height: 9em; margin: 0 auto; float: none; ">#}
{#        <div class="card-block">#}
{#            <img src="{% static 'img/icon.jpg' %}" style="width: 4em; margin: 0;">#}
{#            <span></span><h3 class="card-title" style="padding: 0; margin: 0; vertical-align: baseline; outline: 0;">Rahul Duggal</h3>#}
{#            <h6 class="card-subtitle mb-2 text-muted" style="float: center">Header information</h6>#}
{#            <p class="card-text">University of Toronto, Math</p>#}
{#            <p class="card-text">SWE at Google</p>#}
{#        </div>#}
{#    </div>#}




{#    <ol>#}
{#    {% for i in intersection %}#}
{#        <li>{{ i }}</li>#}
{#    {% endfor %}#}
{#    </ol>#}


{#    <h1>Industry section</h1>#}

{#    {% for i in industry_recommend %}#}
{#        {{ i.job_loc_list }}#}
{#    {% endfor %}#}
{##}
{#    <h1>Education section</h1>#}
{##}
{#    {% for i in edu_recommend %}#}
{#        {{ i }}#}
{#    {% endfor %}#}


{% endblock %}
